# Cloudinary Configuration
# Get your cloud name from the Cloudinary Dashboard
VITE_CLOUDINARY_CLOUD_NAME=nairobidevops

# PHP Proxy Credentials (Local Dev)
# These are only needed if you are running the PHP proxy locally.
# On cPanel, these should be set as environment variables.
# Note: VITE_CLOUDINARY_CLOUD_NAME and CLD_CLOUD_NAME should contain the same Cloudinary cloud name.
# CLD_CLOUD_NAME=
# CLD_API_KEY= 789
# CLD_API_SECRET= 07nbYb

#Cloud name: nairobidevops# PROXY_API_TOKEN=
